.btn{
    @extend %btn;
    @include media-breakpoint-down(md){
        white-space: normal;
        width: 100%;
    }
    border-radius: 0;
}
.btn_first{
    @include btn($color: $seventh, $background: $fifth !important, $colorHover: $first, $bgHover: #fff !important, $padding: 12px 20px);
    @include rhythm(14,16);
    font-weight: 800;
    border-color: $fifth;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        border: 1px solid $first;
    }
    @include media-breakpoint-up(md){
        @include rhythm(12,14);
        padding: 14px 50px;
    }
}
.btn_first_reverse{
    @include btn($color: $first, $background: #fff, $colorHover: $seventh, $bgHover: $fifth, $padding: 14px 50px);
    @include rhythm(14,16);
    font-weight: 800;
    border-color: $fifth;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        border: 1px solid $first;
    }
}

.btn_secondary{
    @include btn($color: $seventh, $background: #fff, $colorHover: #fff, $bgHover: $seventh, $padding: 14px 50px);
    @include rhythm(14,16);
    font-weight: 800;
    border-color: $seventh;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        border: 1px solid $seventh;
    }
}