.form-fale{ 
    .inputs{
        @include media-breakpoint-up(md){
            display: flex;
        }
        input{
            border-color: #2C188E;
            border-radius: 0;
            width: 100%;
            height: 5vh;
            padding-left: 20px;
            @include media-breakpoint-up(md){
                width: 32.2vw;
            }
            &:first-child{
                margin-right: 10px;
            }
        }
    }
    textarea {
        width: 100%;
        border-color: #2C188E;
        padding: 20px;
        @include media-breakpoint-up(md){
            width: 65vw;
        }
    }
    input[type="submit"]{
        width: 100%;
        @include media-breakpoint-up(md){
            width: 12vw;
        }
    }
}