a{
    color: $primary;
    transition: .3s ease all;
    font-weight: 700;
    &:hover{
        transition: .3s ease all;
        color: darken($first,15%);
    }
}
@include media-breakpoint-down(sm){
    *{
        font-size: 14px;
    }
}
:focus{outline: none; box-shadow:none!important;}
hr{
    border-top: none;
}

.form-control, input{
    border: 1px solid $seventh; 
    
    @include placeholder {
        color: #8F8B8B;
    }
}
section{
    padding: 20px 0;
    @include media-breakpoint-up(md){
        padding: $padding-default;
    }
}


p{
    letter-spacing: 0em; 
    font-style: normal;
    font-weight: 400;
    @extend %color_third;
    @include rhythm(14, 14);
    @include media-breakpoint-up(md){
        @include rhythm(14, 16);
    }
}
p > b{
    font-weight: 700;
}
p > a{
    text-decoration: underline;
    &:hover{
        @extend %color_first;
        text-decoration: underline;
    }
}


.hidden-desk{
    @include media-breakpoint-up(md){
        display: none;
    }
}


body{
    overflow-x: hidden;
}

h1{
    @include rhythm(24,24);
    font-weight: 400;
    @include media-breakpoint-up(md){
        @include rhythm(36, 42);
        font-weight: 700;
    }
}
h2{
    @include rhythm(24,28);
    @extend %color_seventh;
    font-weight: bold;
    @include media-breakpoint-up(md){
        @include rhythm(24,28);
    }
}
h3{
    @include rhythm(24, 28);
    font-weight: 700;
}
h4{
    @include rhythm(24, 28);
}
h5{
    @include rhythm(24, 28);
    @extend %color_seventh;
}
h6{
    @include rhythm(12,14);
    font-weight: 400;
    @include media-breakpoint-up(md){
        @include rhythm(18, 26);
        font-weight: 600;
    }
}

/* Templates parts*/

.nossa-equipe{
    @extend %background_seventh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    padding: 40px 0px;
    @include media-breakpoint-down(md){
        background-position: top center;
        background-size: contain;
    }
    .box-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-down(md){
            padding-top: 20px;
            text-align: center;
        }
        h2, p{
            @extend %color_eleventh;
        }
    }
    .box-img{
        @include media-breakpoint-down(md){
             height: 20vh;
        }
     }
}

.avalie{
    @extend %background_tenth;
    background-repeat: no-repeat;
    padding: 40px 0px;
    background-position: top center;
    @include media-breakpoint-up(md){
        background-position: right;
        background-size: 50% 100%;
    }
    @include media-breakpoint-down(md){
        background-size: 0;
    }
    .box-img{
       @include media-breakpoint-down(md){
            height: 20vh;
       }
    }
}

.posts-noticias{
    display: none;
    .list-post{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        padding-left: 0;
        .card{
            .row{
                display: flex;
                flex-direction: column;
            }
            @include media-breakpoint-down(md){
                padding-bottom: 20px;
            }
            .card-header{
                color: #5E5E5E;
                h3{
                   @include rhythm(16, 5);
                   font-weight: 700;
                }
                span{
                    @include rhythm(12,14);
                    font-weight: 400;
                }
            }
            .card-img{
                @include media-breakpoint-down(md){
                    img{
                        width: 100%;
                    }
                }
                @include media-breakpoint-up(md){
                    &:before{
                        content: "";
                        width: 1px;
                        background: $twelfth;
                        position: absolute;
                        height: 58%;
                        right: 2%;
                    }
                }
            }
            &.box-card-2{
                .card-img{
                    &:before{
                        width: 0;
                    }
                }
            }
            .card-content{
                color: #5E5E5E;
                a{
                    @extend %color_seventh;
                    font-weight: 800;
                    text-decoration: underline;
                }
            }
        }
    }
}

.agenda-de-eventos {
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.cartilhas{
    background-image: linear-gradient(to right,#f8f8f8 0,#f8f8f8 50%,#EBEBEB 43%);
    @include media-breakpoint-down(md){
        background-image: linear-gradient(to bottom,#f8f8f8 0,#f8f8f8 50%,#EBEBEB 43%);
    }
    .list-cartilhas{
        @include media-breakpoint-up(md){
            display: flex;
        }
        @include media-breakpoint-down(md){
            text-align: center;
        }
        .card-content{
            @include media-breakpoint-up(md){
                display: flex;
            }
            @include media-breakpoint-down(md){
                &:last-child{
                    padding-top: 25px;
                }
            }
            .box-img{
                @include media-breakpoint-up(md){
                    padding-right: 30px;
                }
            }
            .box-content{
                padding-top: 20px;
            }
        }
    }
}

.page-template-template-page-Integrity_app .agenda-de-eventos {
    background-position: right;
}