@include media-breakpoint-down(md){
    #nav_main{
        background: #2c188e;
        ul{
            li{
                text-align: center;
                width: 100%;
                .nav-link{
                    color: #FFF;
                    font-weight: normal;
                }
            }
        }
        ul#menu-menu-1 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .idioma-pt {
                width: 15% !important;
                float: left;
            }
            .idioma-in {
                width: 15% !important;
                float: right;
            }
        }
    }
}

.navbar{
    @include media-breakpoint-down(md){
        width: 100vw;
    }
}

@include media-breakpoint-up(md){
    #nav_main{
        background: $seventh;
        padding: 1rem 1rem 0;
        &.scrolled{
            background: $seventh;
            //position: fixed !important;
        }
        &.fixed-top{
            position: relative;
        }
        &:before {
            content: "";
            position: absolute;
            background: linear-gradient(45deg, #45F24F, #45F24F);
            width: 63%;
            height: 2px;
            bottom: 0;
            right: 0;
        }
        .navbar-brand {
            padding-bottom: 1rem;
        }
        ul{
            //border-bottom: 2px solid;
            padding-bottom: 1rem;
            //border-image-source: linear-gradient(45deg, #45F24F, #45F24F);
            //border-image-slice: 1;
            li{
                padding: 0 20px;
                .nav-link{
                    color: $eighth;
                    font-weight: normal;
                }
            }
        }

        .no-click {
            pointer-events: none;
            padding: 0 !important;
            a{
                color: $ninth;
            }
        }
        .idioma-pt {
            padding: 0 !important;
            a {
                color: $ninth;
                padding-right: 0 !important;
                span {
                    border-right: 1px solid $ninth;
                    padding-right: 10px;
                }
            }
        }
        .idioma-in {
            padding: 0 0px !important;
            a{
                color: $ninth;
            }
        }




        .idioma{
            ul{
                display: flex;
                list-style: none;
                margin-bottom: 0 !important;
                li{
                    padding: 0 5px;
                    color: $ninth;
                    a{
                        color: $ninth;
                    }
                }
                span{
                    color: $ninth;
                }
            }
        }
    }
}

.dropdown-menu{
    .dropdown-item{
        @extend %color_seventh;
    }
}

.dropdown-toggle{
    #nav-icon-item{
        background: #f3f4f4;
        padding: 4px 16px;
        border-radius: .3rem;
    }
}
.icon-bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;   
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
} 
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}