// Variables


$first: #007830;
$secondary: #05C46A;
$third: #5E5E5E; 
$fourth: #E5E5E5;
$fifth: #87F04F;
$sixth: #E7E6E6;
$seventh: #2C188E;
$eighth: #F2F2F2;
$ninth: #45F24F;
$tenth: #F8F8F8; 
$eleventh: #FFFFFF;
$twelfth: #C4C4C4;
$thirteenth: #5D5D5D;
$fourteenth: #EBEBEB;


//global 
$border-radius-default: 5px; 

//padding sections
$padding-default: 80px 0;

