.btn{
    @extend %btn;
    @include media-breakpoint-down(md){
        white-space: normal;
    }
}
.btn_white{
    @include btn($color: #fff, $background: transparent, $colorHover: $first, $bgHover: #fff, $padding: 22px 35px);
}
.btn_first{
    @include btn($color: #fff, $background: $first, $colorHover: $first, $bgHover: #fff, $padding: 12px 34px);
    border: 1px solid $first;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        border: 1px solid $first;
    }
}
.btn_first_inverse{
    @include btn($color: $first, $background: #fff, $colorHover: #fff, $bgHover: $first, $padding: 18px 34px);
}

.btn_secondary{ 
    @include btn($color: #fff, $background: $first, $colorHover: $first, $bgHover: #fff, $padding: 12px 34px);
    border: 1px solid $first;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        border: 1px solid $first;
    }
}

.btn_default{
    @include btn($color: #414042, $background: #f3f4f4, $colorHover: #fff, $bgHover: $first, $padding: 18px 34px);
    font-weight: 400;
    border: none;
    top: 40px;
    transition: font-size .3s ease-in, background-color .2s ease-in, font-weight .3s ease-in-out;
    position: relative;
    &:hover{
        font-weight: 700;
        font-size: 33px;
        transition: font-size .3s ease-in, background-color .2s ease-in, font-weight .3s ease-in-out;
    }
    @include media-breakpoint-down(md){
        background-color: $first ;
        color: #fff;
    }
}
.item:hover, .item.active{
    .btn_default{
        background: $first;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        transition: font-size .3s ease-in, background-color .2s ease-in, font-weight .3s ease-in-out;
    }
}
// .styled-checkbox {
//     position: absolute; // take it out of document flow
//     opacity: 0; // hide it
  
//     & + label {
//       position: relative;
//       cursor: pointer;
//       padding: 0;
//     }
  
//     // Box.
//     & + label:before {
//       content: '';
//       margin-right: 10px;
//       display: inline-block;
//       vertical-align: text-top;
//       width: 20px;
//       height: 20px;
//       background: white;
//       border: 1px solid #ddd;
//     }
  
//     // Box hover
//     &:hover + label:before {
//       background: $first;
//     }
    
//     // Box focus
//     &:focus + label:before {
//     //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
//     }
  
//     // Box checked
//     &:checked + label:before {
//       background: $first;
//     }
    
//     // Disabled state label.
//     &:disabled + label {
//       color: #b8b8b8;
//       cursor: auto;
//     }
  
//     // Disabled box.
//     &:disabled + label:before {
//       box-shadow: none;
//       background: #ddd;
//     }
  
//     // Checkmark. Could be replaced with an image
//     &:checked + label:after {
//       content: '';
//       position: absolute;
//       left: 5px;
//       top: 9px;
//       background: white;
//       width: 2px;
//       height: 2px;
//       box-shadow: 
//         2px 0 0 white,
//         4px 0 0 white,
//         4px -2px 0 white,
//         4px -4px 0 white,
//         4px -6px 0 white,
//         4px -8px 0 white;
//       transform: rotate(45deg);
//     }
//   }
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: $first;
    position: absolute;
    top: 3.6px;
    left: 3.6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.testimonials{
    .slick-dots{
        position: relative;
        border-bottom: 1px solid #efefef;
    }
    .slick-dots li button:before, .slick-dots li.slick-active button:before {
        border-bottom: 7px solid #a7a9ac;
        width: 60px;
        top: 3px;
        z-index: 99999999999999999;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before{
        opacity: .7 !important;
    }
    .slick-dots li.slick-active button:before, .slick-dots li button:before {
        color: transparent;
    }
}