.about{
    @extend %background_tenth;
    padding: 20px 0 0;
    @include media-breakpoint-up(md){
        padding: 80px 0 0;
    }
    h2{
        line-height: 70px;
    }
    .valores{
        list-style: none;
        display: flex;
        @include media-breakpoint-down(md){
            flex-wrap: wrap;
            padding-left: 0;
            justify-content: center;
        }
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include media-breakpoint-up(md){
                width: 20%;
            }
            @include media-breakpoint-down(md){
                padding: 0 20px;
            }
            img{
                width: fit-content;
                padding-bottom: 15px;
            }
            p{
                font-weight: bold;
                @extend %color_third;
            }
        }
    }
}

.movimento{
    @include media-breakpoint-down(md){
        width: 95%;
    }
    .galery{
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            padding-top: 0;
            li{
                width: 25%;
                padding: 20px 20px 20px 0;    
                list-style: none;
                @include media-breakpoint-down(md){
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.parceiros{
    @include media-breakpoint-up(md){
        padding: 0 0 80px;
    }
    @include media-breakpoint-down(md){
        width: 95%;
    }
    .galery{
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            li{
                padding-bottom: 50px;
                padding-right: 20px;
                list-style: none;
                @include media-breakpoint-down(md){
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}