.main{
    background-size: cover;
    height: auto;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0,  .6);
    @include media-breakpoint-up(md){
        height: 100vh;
        max-height: 850px;
        //background-attachment: fixed;
        background-repeat: no-repeat;
    }
    @include media-breakpoint-down(md){
        padding: 100px 0 40px;
    }
    h1, h6{
        @extend %color_fourth;
    }
    h6{
        font-weight: 400;
    }

}

body:not(.home){
    .main{
        height: 30vh;
        @media (min-width:1365px) and (max-width:1367px){
            height: 44vh;
        }
        @include media-breakpoint-up(md){
            height: 45vh;
            background-size: cover;
            background-position: bottom;
        }
    }
}
