.compliance{
    @extend %background_tenth;
}

.treinamento{
    @include media-breakpoint-down(md){
        background: $seventh;
    }
    .content-title{
        h2{
            @include media-breakpoint-down(md){
                color: #fff;
            }
            padding-bottom: 10px;
        }
        p{
            @include media-breakpoint-down(md){
                color: #fff;
            }
        }
    }
    .content-video{
        padding: 0;
        @include media-breakpoint-up(md){
            display: flex;
        }
        iframe{
            @include media-breakpoint-down(md){
                width: 100%;
                height: 100%;
            }
            @include media-breakpoint-up(md){
                width: 100%;
            }
        }
        @include media-breakpoint-down(md){
            .slick-prev {
                left: -10px !important;
            }
            .slick-next {
                right: -10px !important;
            }
            .slick-next, .slick-prev {
                z-index: 99;
            }
        }
    }
}