.imprensa{
    @extend %background_tenth;
    background-repeat: no-repeat;
    padding: 40px 0px;
    background-position: top center;
    @include media-breakpoint-up(md){
        background-position: right;
        background-size: 50% 100%;
    }
    @include media-breakpoint-down(md){
        background-size: contain;
    }
    p{
        padding-bottom: 20px;
    }
    .box-img{
        @include media-breakpoint-down(md){
             height: 20vh;
        }
     }
}