.page-template-template-page-home{
    .main{
        h1{
            @include rhythm(24,24);
            @include media-breakpoint-up(md){
                @include rhythm(46,46);
            }
            @include media-breakpoint-down(md){
                padding-bottom: 0;
            }
        }
        h6{
            @include rhythm(14,14);
            @include media-breakpoint-up(md){
                @include rhythm(26,26);
            }
            @include media-breakpoint-down(md){
                padding-bottom: 3em;
            }
        }
    }
}

.cookies{
    background: #FFF;
    opacity: .8;
    padding: 4% 9%;
    @include media-breakpoint-up(md){
        padding: 2% 9%;
    }
    p{
        @extend %color_seventh;
        font-weight: 700;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }
}

#cookie-law-info-bar{
    .cli-bar-message{
        font-weight: 700;
    }
    .cli-bar-container{
        display: flex;
        flex-direction: column;
        background: #fff;
        opacity: .8;
        padding: 15px 0;
        .cookie_action_close_header_reject{
            padding: 14px 50px;
            color: #2c188e;
            border:1px solid #2c188e;
            background: #fff;
        }
        .cli_settings_button{
            font-size: .75rem;
            line-height: .875rem;
            padding: 14px 50px;
            
        }
    }
}

.capitacao{
    @extend %background_tenth;
    @include media-breakpoint-up(md){
        padding: 80px 0 0;
    }   
}

.transformacao{
    .galery{
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            @include media-breakpoint-down(md){
                width: 95%;
            }
            li{ 
                width: 25%;
                list-style: none;
                padding: 20px 20px 20px 0; 
                @include media-breakpoint-up(md){
                    padding-bottom: 50px;
                    padding-right: 20px;
                }
                img{
                    @include media-breakpoint-down(md){
                        max-width: 80%;
                    }
                }
            }
        }
    }
}

.video{
    @extend %background_seventh;
    h2, p{
        @extend %color_eleventh;
    }
    .list-video{
        @include media-breakpoint-up(md){
            display: flex;
        }
        iframe{
            width: 100%;
            @include media-breakpoint-up(md){
                width: 100%;
            }
        }
    }
    @include media-breakpoint-down(md){
        .slick-prev {
            left: 5px;
        }
        .slick-next {
            right: 5px;
        }
        .slick-next, .slick-prev {
            z-index: 99;
        }
    }
}

.novidades{
    @extend %background_fourteenth;
    .box{
        display: flex;
        @include media-breakpoint-down(md){
            flex-direction: column;
        }
        .box-img{
            @include media-breakpoint-down(md){
                margin: 0 auto;
            }
        }
        .box-content{
            padding: 10% 0;
            @include media-breakpoint-up(md){
                padding: 0 10%;
            }
        }
    }
    form{
        .inputs{
            label{
                padding-bottom: 1rem;
                br{
                    display: none;
                }
                input{
                    padding: 14px 20px;
                    max-height: 44px;
                    background: transparent;
                    @include media-breakpoint-up(md){
                        width: 37vw;
                    }
                }
            }
        }
        .btn{
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
    }
}

.aderir{
    @extend %background_fourteenth;
    padding: 40px 0 10px;
    .aderir-box{
        align-items: center;
        text-align: center;
        h2{
            @extend %color_seventh;
        }
    }
}

.faq{
    .faq-list{
        .pergunta{
            border-bottom: 1px solid $twelfth;
            font-weight: 700;
        }
        .resposta{
            padding:15px 0 25px;
        }
    }
}

.fale-conosco{
    .form-fale{ 
        .inputs{
            @include media-breakpoint-up(md){
                display: flex;
            }
            input{
                border-color: #2C188E;
                border-radius: 0;
                width: 100%;
                height: 5vh;
                padding-left: 20px;
                @include media-breakpoint-up(md){
                    width: 32.2vw;
                }
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
        textarea {
            width: 100%;
            border-color: #2C188E;
            padding: 20px;
            @include media-breakpoint-up(md){
                width: 65vw;
            }
        }
        input[type="submit"]{
            width: 100%;
            @include media-breakpoint-up(md){
                width: 12vw;
            }
        }
    }
}